<div class="vista">
  <h4 class="center">Bienvenido</h4>
  <form (submit)="ValidarUsuario(usuario)">
      <div class="center">
        <i class="material-icons logo">person</i>
      </div>
        <div class="SplitPane">
          <div class="SplitPane-left">
              <i class="material-icons contenedor">person</i>
          </div>
          <div class="SplitPane-right">
              <input type="text" [ngModel]="usuario?.user" (ngModelChange)="usuario.user= $event" 
          placeholder="Usuario" name="Usuario"/>
          </div>
        </div>
        <div class="SplitPane">
            <div class="SplitPane-left">
                <i class="material-icons contenedor">lock</i>
            </div>
            <div class="SplitPane-right">
                <input type="text" [ngModel]="usuario?.password" (ngModelChange)="usuario.password= $event" 
          placeholder="Contraseña" name="Contraseña"/>
            </div>
          </div>
          <button type="submit">Ingresar</button>

  </form>

  <p>{{usuario | json  }}</p>
  </div>