*{
    margin: 0;
    padding: 0;
  }

  .vista{
    padding: 60px 40px;
    text-decoration: none;
    display: block;
    border-radius: 15px 60px;
    background-color: #f2f2f2;
    margin: 0 auto;
    width: 350px;
    height: 270px;
  }
  input{
    width:300px;
    height: 45px;
    padding: 12px 20px;
    margin:3px;
    display: inline-block;
    border: 1px solid lightblue;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    
}
button {
    width:335px;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    background-color: #cfd8dc;
    color:black;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer; cursor: hand;
    font-size: 18px;
  }
  button:hover {
    color: white;
    background-color:rgb(11, 45, 61) ;
  }
h4{
    font-size: 32px;
    color: #042431;
  }
  .material-icons{
    font-size: 30px;
  }
  .center{
    text-align: center;
  }
  .SplitPane {
    width: 100%;
    height: 100%;
  }
  
  .SplitPane-left {
    float: left;
    width: 10%;
    height: 100%;
  }
  .contenedor{
    background-color:rgb(186, 190, 214);
    border: none;
    height: 35px;
    padding: 5px 5px;
    margin: 3px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .SplitPane-right {
    float: right;
    width: 90%;
    height: 100%;
  }
.logo{
    font-size: 50px;
    color: white;
    background-color:rgb(11, 45, 61);
    border-radius:50px;
    margin:8px;
    padding:10px;
    border: 2px solid white;
    
}